#page-teacher-list {
  width: 100vw;
  height: 100vh;
}

.page-header {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.page-header .top-bar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text-in-primary);
  padding: 1.6rem 0;
}

.page-header .top-bar-container a {
  transition: opacity 0.2s;
  height: 3.2rem;
}

.page-header .top-bar-container a:hover {
  opacity: 0.6;
}

.page-header .top-bar-container > img {
  height: 1.8rem;
}

.page-header .header-content {
  width: 90%;
  margin: 3.2rem auto;
  position: relative;
}

.page-header .header-content strong {
  font: 700 3.6rem Archivo;
  color: var(--color-title-in-primary);
  line-height: 4.2rem;
}
